section.about-pers.container
    .about-pers__title
        h2 Специалисты
        .fx-line-silver
        a(href='#') Все доктора
    .about-pers__item-box
        .about-pers__item
            img(src="images/bgsv1.png", alt="master")
            h3 Кудинова-Савченко Нина Алексеевна
            span Главный врач. Врач высшей категории.
        .about-pers__item
            img(src="images/bgsv2.png", alt="master")
            h3 Чернецкий Юрий Валентинович
            span Врач офтальмолог высшей категории
        .about-pers__item
            img(src="images/bgsv3.png", alt="master")
            h3 Веснина Нинель Аркадьевна
            span Врач офтальмолог высшей категории
        .about-pers__item
            img(src="images/bgsv4.png", alt="master")
            h3 Саар Татьяна Анатольевна
            span Врач офтальмолог высшей категории. Рефракционный хирург.
        .about-pers__item
            img(src="images/bgsv5.png", alt="master")
            h3 Желязков Александр Анатольевич
            span Врач офтальмолог высшей категории
        