section.about-pers.container
    .about-pers__title
        h2 Специалисты
        .fx-line-silver
        a(href='#') Все доктора
    .about-pers__item-box
        a(href='#').about-pers__item
            .about-pers__item-imgwrp
                .about-pers__item-place
                .about-pers__item-pict(style='background-image: url(images/porter1.png')
            h3 Кудинова-Савченко Нина Алексеевна
            span Главный врач. Врач высшей категории.
        a(href='#').about-pers__item
            .about-pers__item-imgwrp
                .about-pers__item-place
                .about-pers__item-pict(style='background-image: url(images/porCr1.png')
            h3 Чернецкий Юрий Валентинович
            span Врач офтальмолог высшей категории
        a(href='#').about-pers__item
            .about-pers__item-imgwrp
                .about-pers__item-place
                .about-pers__item-pict(style='background-image: url(images/porCr2.png')
            h3 Веснина Нинель Аркадьевна
            span Врач офтальмолог высшей категории
        a(href='#').about-pers__item
            .about-pers__item-imgwrp
                .about-pers__item-place
                .about-pers__item-pict(style='background-image: url(images/porCr3.png')
            h3 Саар Татьяна Анатольевна
            span Врач офтальмолог высшей категории. Рефракционный хирург.
        a(href='#').about-pers__item
            .about-pers__item-imgwrp
                .about-pers__item-place
                .about-pers__item-pict(style='background-image: url(images/porCr4.png')
            h3 Желязков Александр Анатольевич
            span Врач офтальмолог высшей категории
