section.container.about-page
    h1 О центре
    nav.about-page__nav
        a(href='').active   О центре
        a(href='')  Награды
        a(href='')  Отзывы
        a(href='')  Новости и статьи
        a(href='')  Видеоматериалы
        a(href='')  Фотогалерея
    .about-page__content
        iframe(width="100%" src="https://www.youtube.com/embed/565SqD4HOhw" title="YouTube video player" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
        h2 Медицинский сервис высочайшего уровня
        p Медицинский центр Ваш Зір оснащен новейшими технологиями, уникальной комбинацией лучшего в отрасли диагностического и хирургического оборудования и уникальными результатами лечения.
        p 
            | Все 
            a(href='#') наши доктора 
            | – высококвалифицированные специалисты. Медицинский центр современной офтальмологической помощи ВАШ ЗІР – постоянно обучает своих специалистов. В Медицинском центре ВАШ ЗІР работают доктора и кандидаты медицинских наук, специалисты высших категорий. Обратившись в наш центр, Вы всегда можете рассчитывать на качественную и квалифицированную помощь.
        img(src="images/about1.png")
        p Партнерами медицинского центра являются производители лучшего в мире лазерного оборудования для кераторефракционной хирургии, лучшие производители и поставщики лекарственных препаратов, опытные врачи. офтальмологи.
        p В основе эффективного лечения в медицинском центре Ваш Зір — индивидуальный подход к каждому пациенту и контроль качества на всех этапах лечения. Уникальная диагностика, позволяющая предложить пациенту лучшее решение проблем зрения, предполагает этапное обследование на самом современном оборудовании и консультации врачей с получением подробных рекомендаций и прогноза по качеству зрения после операции. При этом врач строит схему лечения с учетом Ваших индивидуальных особенностей.
        img(src="images/about2.png").mini
        img(src="images/about3.png").mini
        p В медицинском центре Ваш Зір для лечения дальнозоркости, близорукости, астигматизма, уникальный комплекс методик коррекции пресбиопии (возрастной дальнозоркости), пациент имеет выбор между самыми современными, эффективными и безопасными методиками. После коррекции осуществляется бесплатное диспансерное наблюдение в течение полугода.
        p Операции по удалению катаракты проводятся методом ультразвуковой факоэмульсификации, под местной анестезией, через микро разрез с использованием новейшего операционного оборудования, индивидуально подбираются и имплантируются лучшие модели ИОЛ.
        p Для лечения глаукомы в медицинском центре применяются поддерживающее лечение с уникальной методикой контроля зрительных функций; селективная лазерная трабекулопластика (СЛТ), непроникающая глубокая склерэктомия (НГСЭ); синусотрабекулэктомия (СТЭК); имплантация дренажей; вискоканалостомия.
        p.place Медицинский центр отлично зарекомендовал себя в ортолечении, ортокератологии и детской офтальмологии.
        img(src="images/about4.png")
        img(src="images/about5.png")
        p Наш медицинский центр принимает пациентов без ограничений по возрасту – это и дети с первых дней жизни, и люди пожилого возраста.
        p Вся техника и материалы, используемые нашими специалистами, имеют европейские сертификаты и прошли необходимую регистрацию в Министерстве здравоохранения Украины. Уровень оснащенности нашего медицинского центра является ориентиром для ведущих европейских глазных центров.
        p Операции проходят амбулаторно (Вам не нужно ложиться в стационар), длятся считанные минуты и совершенно безболезненны.
        p Мы наблюдаем каждого пациента после операции до полного выздоровления. У Вас есть возможность в любое время связаться с врачом.
        h2 Отзывы наших пациентов
        .about-page__bottom 
            img(src="images/loogo.png")
            .about-page__box
                strong 4.7 оценка
                span Более 350 отзывов
                a(href='#') Добавить отзыв
            img(src="images/logo.png").logotip
            .about-page__box
                strong На сайте
                span Более 500 отзывов
                a(href='#') Добавить отзыв