section.container.about-block
    .about-block__item
        h3 10 лет
        .about-block__desc 
            strong Начиная с 2012 
            span года мы заботимся о здоровье глаз взрослых и детей.
    .about-block__item
        h3 12 000
        .about-block__desc 
            strong Лазерных коррекций 
            span проведено за годы работы нашего центра.
    .about-block__item
        h3 18 000
        .about-block__desc 
            strong Довольных клиентов
            span мы обслуживаем ежегодно.