section.big-slider
    .big-slider__box.min-sdr(data-flickity='{ "wrapAround": true, "fade": true, "lazyLoad": 1, "imagesLoaded": true, "cellAlign": "left", "contain": true }')
        - for (var z = 1; z < 5; z++) {
            .big-slider__item
                .big-slider__img(style='background-image: url(images/bigslider'+ `${z}` + '.png)')
                .container
                    .big-slider__text
                        img(src='../images/biglogoslider.png')
                        p Маленькие детали, большая разница
                        button подробнее
        -}
