footer.footer
    .container
        nav#footer-nav.active
            h3 Категории
            a(href='#') Кухонная посуда
            a(href='#') Ножки
            a(href='#') Cтоловые приборы
            a(href='#') Сервировка
            a(href='#') Чай, кофе
            a(href='#') Инструменты для кухни
            a(href='#') Аксессуары
            a(href='#') Бар
            a(href='#') Барбекю
        nav#footer-nav
            h3 Коллекции
            a(href='#') Leo
            a(href='#') Ron
            a(href='#') Gem
            a(href='#') Outdoor
            a(href='#') Essentials
            a(href='#') Kids
            a(href='#') Керамический гриль
        nav#footer-nav
            h3 Информация
            a(href='#') Доставка и оплата
            a(href='#') Гарантия
            a(href='#') Правила возврата
            a(href='#') Контакты
            span Следите за нами:
            a(href='#')
                svg
                    use(xlink:href='images/sprite.svg#instagram', alt="picture")
        .footer__right
            a(href="#") Контакты 
            nav
                a(href='#') (067) 132-45-67
                a(href='#') (050) 345-67-89
                address Киев, ул.Семьи Хохловых, 123
            .footer__us
                span Следите за нами:
                a(href='#')
                    svg
                        use(xlink:href='images/sprite.svg#instagram', alt="picture")
            .footer__imgs
                h4 Наши награды
                img(src='images/footer1.png')
                img(src='images/footer2.png')
                img(src='images/footer3.png')
                img(src='images/footer4.png')
                img(src='images/footer5.png')
    .container
        .footer__bottom
            span © 2021 - Интернет-магазин BergHOFF в Украине. Все права защищены.
            a(href='https://flabers.com/')
                span Разработка сайта
                img(src='images/minilogo.svg')
    .cart__wrapper
        form.cart
            .cart__title
                h2 В корзине
                .cart__close
                    svg
                        use(xlink:href='images/sprite.svg#close', alt="picture")
            ul.cart__items
                li.cart__point
                    img(src='images/prod2.png')
                    .cart__des
                        span.cart__des-name Форма керамическая для выпечки GEM, овальная, 5 л, 36 х 26 х 7 см
                        span.cart__des-art Артикул: 45658978
                        span.cart__des-price 399 грн
                    .cart__cnt
                        button(type="button").cart__cnt-ps -
                        input(type='text' value="3")
                        button(type="button").cart__cnt-min +
                    .cart__price 13399 грн
                    .cart__delete 
                        svg
                            use(xlink:href='images/sprite.svg#delete', alt="picture")
                li.cart__point
                    img(src='images/prod4.png')
                    .cart__des
                        span.cart__des-name Набор посуды Gourmet, 12 пр.
                        span.cart__des-art Артикул: 45658978
                        span.cart__des-price 259 грн
                    .cart__cnt
                        button(type="button").cart__cnt-ps -
                        input(type='text' value="1")
                        button(type="button").cart__cnt-min +
                    .cart__price 259 грн
                    .cart__delete 
                        svg
                            use(xlink:href='images/sprite.svg#delete', alt="picture")
            .cart__btn-box
                span Сумма заказа: 14589 грн
                button(type="button").cart__btn-ord Оформить заказ
                button(type="button").cart__btn-simp Продолжить покупки
            h3 Добавьте к заказу
            .slider-light__box(data-flickity='{ "cellAlign": "left", "contain": true, "imagesLoaded": true, "pageDots": false}')
                - for (var z = 1; z < 7; z++) {
                    include tizer
                -}
    .cart__dashboard