footer.footer
    .container
        .footer__contact
            nav.footer__phone-box
                a.footer__phone-item (056) 462-07-07
                a.footer__phone-item (096) 339-77-77
                a.footer__phone-item (099) 339-77-77
                ul.footer__phone-soci 
                    li
                        a(href='#')
                            svg
                                use(xlink:href='images/sprite.svg#viber', alt="viber")
                    li
                        a(href='#')
                            svg
                                use(xlink:href='images/sprite.svg#telegram', alt="telegram")
                    li
                        a(href='#')
                            svg
                                use(xlink:href='images/sprite.svg#whatsapp', alt="whatsapp")
                svg.footer__phone-icon
                    use(xlink:href='images/sprite.svg#phone', alt="phone")
            a(href='#').footer__contact--item info@vashzir.kr.ua
                svg
                    use(xlink:href='images/sprite.svg#mail', alt="mail")
            a(href='#').footer__contact--item Кривой Рог, пр. Героев-подпольщиков (бывш. Дзержинского) 36, пом. 1
                svg
                    use(xlink:href='images/sprite.svg#addres', alt="addres")
        .footer__list
            h2 Лечение
            nav
                a(href='#') Близорукость
                a(href='#') Дальнозоркость
                a(href='#') Астигматизм
                a(href='#') Катаракта
                a(href='#') Глаукома
                a(href='#') Кератоконус
                a(href='#') Косоглазие
        nav.footer__menu
            a(href='#') Специалисты
            a(href='#') О центре
            a(href='#') Пациенту
            a(href='#') Отзывы
            a(href='#') Контакты
        .footer__right
            span Лицензия № ДП 014311015072 от 10.01.2010
            nav.footer__social
                h4 Мы в соц.сетях
                a(href='#').footer__social-itm
                    svg
                        use(xlink:href='images/sprite.svg#facebook', alt="facebook")
                a(href='#').footer__social-itm
                    svg
                        use(xlink:href='images/sprite.svg#instagram', alt="instagram")
                a(href='#').footer__social-itm
                    svg
                        use(xlink:href='images/sprite.svg#youtube', alt="youtube")
    .container.footer__bottom
        span © 2021 Все права защищены.
        a(href='#') Лицензия
        a(href='#') Карта сайта
        .footer__bottom--flabers Разработка сайта