section.form-order.container
    .form-order__contact
        h2 Бесплатная консультация
        span Какой вариант лечения подходит вам?
        p Ответы вы можете получить на бесплатной консультации у наших виртуозов, которые подберут для вас наиболее оптимальное решение. 
        nav
            a(href='#') (056) 462-07-07
            a(href='#') (096) 339-77-77
            a(href='#') (096) 339-77-77
        button(type='button') Заказать звонок
    form(action="/mail.php").form-order__box
        h2 Записаться на приём
        input(type='text' placeholder='Ваше имя ')
        input(type='text' placeholder='Телефон +38 (___) ___-__-__')
        textarea(name="", cols="30", rows="6" placeholder='Комментарии и пожелания')
        button(type="button") Записаться