section.form-order.container
    .form-order__contact
        h2 Бесплатная консультация
        span Какой вариант лечения подходит вам?
        p Ответы вы можете получить на бесплатной консультации у наших виртуозов, которые подберут для вас наиболее оптимальное решение. 
        nav
            a(href='#') (056) 462-07-07
            a(href='#') (096) 339-77-77
            a(href='#') (096) 339-77-77
        button(type='button') Заказать звонок
    form(action="/mail.php" ).form-order__box
        h2 Записаться на приём
        input(type='text' class='inputName' placeholder='Ваше имя ' required)
        label
            span.form-order__tel-plc Телефон
            input(type='text' class='inputMaska' value="+3 8(0__)___-__-__" required)
        textarea(name="", class='inputText' cols="30", rows="6" placeholder='Комментарии и пожелания' required)
        button(type="submit" class='buttonS') Записаться