section.container.slider-head
    section.slider-head__box(data-flickity='{ "wrapAround": true, "lazyLoad": 1, "imagesLoaded": true, "cellAlign": "left", "contain": true }')
        - for (var z = 1; z < 5; z++) {
            .slider-head__item
                .slider-head__content
                    form(action="/mail.php")
                        h2 Компьютерная диагностика зрения 
                        p Качественная диагностика и обследование глаз – первый шаг на пути к прекрасному зрению.
                        ul
                            li Современные методы диагностики
                            li Уникальное диагностическое оборудование
                            li Профессиональный офтальмолог высшей категории
                        h4 Запись на приём
                        label
                            input(type='text' placeholder='+38 (___) ___-__-__')
                            button(type='button') Записаться
                .slider-head__img
                    img(src='images/head_img.png')
        -}