header#header.header
    .header__top
        .container
            address Кривой Рог, пр. Героев-подпольщиков 36
                a(href='#') Карта проезда
            nav.header__top-nav
                a(href='#').header__top-nav--link Цены
                a(href='#').header__top-nav--link Отзывы
                a(href='#').header__top-nav--link Контакты
            .header__top-lang
                a(href='#').header__top-lang-itm.active Русский
                a(href='#').header__top-lang-itm Рідна мова
            nav.header__top-social
                a(href='#').header__top-social-itm
                    svg
                        use(xlink:href='images/sprite.svg#facebook', alt="facebook")
                a(href='#').header__top-social-itm
                    svg
                        use(xlink:href='images/sprite.svg#instagram', alt="instagram")
                a(href='#').header__top-social-itm
                    svg
                        use(xlink:href='images/sprite.svg#youtube', alt="youtube")
    .header__center.container
        a(href='#').header__logo
            img(src='images/logo.png')
        nav.header__phone-box
            a.header__phone-item (056) 462-07-07
            a.header__phone-item (096) 339-77-77
            a.header__phone-item (099) 339-77-77
            ul.header__phone-soci 
                li
                    a(href='#')
                        svg
                            use(xlink:href='images/sprite.svg#viber', alt="viber")
                li
                    a(href='#')
                        svg
                            use(xlink:href='images/sprite.svg#telegram', alt="telegram")
                li
                    a(href='#')
                        svg
                            use(xlink:href='images/sprite.svg#whatsapp', alt="whatsapp")
            svg.header__phone-icon
                use(xlink:href='images/sprite.svg#phone', alt="phone")
        .header__time
            svg.header__time-icon
                use(xlink:href='images/sprite.svg#time', alt="time")
            span График работы
            span Пн-Пт: 09:00-18:00,
            span Сб: 09:00-15:00
        button.header__order.openOrd Запись на прием
    .header__menu-block#menublock.container
        .mobil-menu__box
        .gamburg--wrapper#gamburg
            .gamburg
                div
        include menu
        .header__menu-search#menuSearch
            input(type='text' placeholder='')
            svg
                use(xlink:href='images/sprite.svg#glass', alt="phone")