header#header.header
    nav.header__top-social
        a(href='#').header__top-social-itm
            svg
                use(xlink:href='images/sprite.svg#facebook', alt="facebook")
        a(href='#').header__top-social-itm
            svg
                use(xlink:href='images/sprite.svg#instagram', alt="instagram")
        a(href='#').header__top-social-itm
            svg
                use(xlink:href='images/sprite.svg#youtube', alt="youtube")