section.reviews
    .container
        .reviews__title
            h2 Отзывы
            a(href='#') Все отзывы
        .reviews__box(data-flickity='{ "wrapAround": true, "watchCSS": true, "adaptiveHeight": true, "lazyLoad": 1, "imagesLoaded": true, "cellAlign": "left", "contain": true }')
            .reviews__itm
                img.reviews__img(src="images/cavac.png" alt="cavc")
                .reviews__title
                    h3 Інна Запорожець
                    span 18.01.2021
                .reviews__text Спасибо за очень удобный график физ.кабинета и индивидуальный подход к каждому ребенку и взрослому. все на высшем уровне. мы получили очень хороший результат после лечения. спасибо руководству клиники за такой кабинет и за внимательное отношение к деткам и взрослым. всем рекомендую.
            .reviews__itm
                img.reviews__img(src="images/cavac.png" alt="cavc")
                .reviews__title
                    h3 Светлана
                    span 18.01.2021
                .reviews__text Мы были на первой консультации с моей внучкой 2-х лет. Будем лечить косоглазие. Понимаю, что благодарить надо по итогам. Но и за первый теплый, весёлый и красивый приём спасибо! Персонал супер. Врач замечательная. Диагностика легкая даже для нашей малышки. Медсестру, которая закапывала капельки, вспоминали с улыбками всю обратную дорогу, быстро и легко, без лишних разговоров, техника классная у человека - называется золотые руки. Спасибо. Мы наконец-то уверены, что всё будет хорошо:)
            .reviews__itm
                img.reviews__img(src="images/cavac.png" alt="cavc")
                .reviews__title
                    h3 Анжела
                    span 18.01.2021
                .reviews__text На прошлой неделе сделала лазерную коррекцию зрения! очень довольна результатом. Спасибо большое всем кто принимал участие в этом процессе. Мне понравилось в этом центре. Врачи профессионалы, центр красивый, все чисто. Очень довольна!!!!!!!!
            