section.services.container
    .services__title
        h2 Услуги
        .fx-line-silver
        a(href='#') Все услуги
    .services__box
        - for (var z = 1; z < 4; z++) {
            .services__itm
                h3 Лазерная коррекция зрения
                img(src='images/services1.png')
                ul
                    li Близорукость
                    li Дальнозоркость
                    li Астигматизм 
            .services__itm
                h3 Детская офтальмология
                img(src='images/services2.png')
                ul
                    li Диагностика зрения у детей
                    li Лечение близорукости у детей
                    li Лечение косоглазия у детей
        - }
