section.services.container
    .services__title
        h2 Услуги
        .fx-line-silver
        a(href='#') Все услуги
    .services__box
        - for (var z = 1; z < 4; z++) {
            .services__itm
                a(href='#') Лазерная коррекция зрения
                img(src='images/services1.png')
                ul
                    li 
                        a(href='#') Близорукость
                    li 
                        a(href='#') Дальнозоркость
                    li 
                        a(href='#') Астигматизм 
            .services__itm
                a(href='#') Детская офтальмология
                img(src='images/services2.png')
                ul
                    li
                        a(href='#') Диагностика зрения у детей
                    li
                        a(href='#') Лечение близорукости у детей
                    li
                        a(href='#') Лечение косоглазия у детей
        - }
