a(href='#').doctor__item
    .doctor__img(style="background-image: url('../images/doc1.png');")
    .doctor__descript
        .doctor__dsc-master
            strong Кудинова-Савченко Нина Алексеевна
            span Главный врач. Врач высшей категории.
        .doctor__dsc-hover
            span Член европейской и американской ассоциации катарактальных и рефракционных хирургов.
            span Стаж работы: 21 год.
            span Специализация: ультразвуковая факоэмульсификация катаракты с имплантацией искусственного хрусталика, оперативное лечение глаукомы
            span Выполнено более 40 тысяч микрохирургических операций.
a(href='#').doctor__item
    .doctor__img(style="background-image: url('../images/doc2.png');")
    .doctor__descript
        .doctor__dsc-master
            strong Чернецкий Юрий Валентинович
            span Врач офтальмолог высшей категории.
        .doctor__dsc-hover
            span Член европейской и американской ассоциации катарактальных и рефракционных хирургов.
            span Стаж работы: 21 год.
            span Специализация: ультразвуковая факоэмульсификация катаракты с имплантацией искусственного хрусталика, оперативное лечение глаукомы
            span Выполнено более 40 тысяч микрохирургических операций.
a(href='#').doctor__item
    .doctor__img(style="background-image: url('../images/doc3.png');")
    .doctor__descript
        .doctor__dsc-master
            strong Веснина Нинель Аркадьевна
            span Врач офтальмолог высшей категории.
        .doctor__dsc-hover
            span Член европейской и американской ассоциации катарактальных и рефракционных хирургов.
            span Стаж работы: 21 год.
            span Специализация: ультразвуковая факоэмульсификация катаракты с имплантацией искусственного хрусталика, оперативное лечение глаукомы
            span Выполнено более 40 тысяч микрохирургических операций.
a(href='#').doctor__item
    .doctor__img(style="background-image: url('../images/doc4.png');")
    .doctor__descript
        .doctor__dsc-master
            strong Саар Татьяна Анатольевна
            span Врач офтальмолог высшей категории. Рефракционный хирург
        .doctor__dsc-hover
            span Член европейской и американской ассоциации катарактальных и рефракционных хирургов.
            span Стаж работы: 21 год.
            span Специализация: ультразвуковая факоэмульсификация катаракты с имплантацией искусственного хрусталика, оперативное лечение глаукомы
            span Выполнено более 40 тысяч микрохирургических операций.