.twocolpage__content
    .twocolpage__slider(data-flickity='{ "wrapAround": true, "lazyLoad": 1, "imagesLoaded": true, "cellAlign": "left", "contain": true }')
        - for (var z = 1; z < 5; z++) {
            .twocolpage__slider-img(style='background-image: url(images/servSlide1.png')
        -}
    .twocolpage__nav-block
        button(type='button')#twocolpageNavText.active Описание
        button(type='button')#twocolpageNavPrice Цены
        button(type='button')#twocolpageNavReviews Отзывы
        button(type='button').openOrd Запись на прием
    .active.twocolpage__nav-hid-bc.twocolpage__nav-text
        p Лазерная коррекция – самый популярный и эффективный метод восстановления зрения. С помощью данной процедуры стало возможным избавиться от близорукости, дальнозоркости, астигматизма. На данный момент самыми безопасными и эффективными принято считать методики LASIK и LASEK.
        p В нашем медицинском центре используется один из самых современных эксимерых лазеро WaveLight EX500, благодаря которому процедура коррекции зрения на высочайшем уровне. Данный эксимерный лазер специально разработанный для проведения персонализированной процедуры лазерной коррекции зрения. Высокая гибкость и точность этого лазера позволяют проводить коррекцию зрения и добиваться успешных результатов даже при высоких степенях нарушения рефракции. Во многом это происходит благодаря высокой скорости работы лазерной системы.
        h3 Четыре шага к свободе от очков и линз!
        .twocolpage__numbers
            .twocolpage__numbers-itm
                span 1
                strong Консультация врача
            .twocolpage__numbers-itm
                span 2
                strong Проведение операции
            .twocolpage__numbers-itm
                span 3
                strong Обследование после операции
            .twocolpage__numbers-itm
                span 4
                strong Советы на период после операции
        form(action="/mail.php").twocolpage__forma
            .twocolpage__forma-title
                strong Запись на прием
                span Телефонная поддержка и консультации осуществляются в будни с 9 до 19.00, в воскресенье с 9 до 15.
            label
                input(type='text' class='inputName' placeholder='Ваше имя ' required)
            label
                input(type='text' class='inputMaska' value="+3 8(0__)___-__-__" required)
            button(type="submit" class='buttonS') Отправить
        h3 Показания к лазерной коррекции зрения
        p   Рекомендованный возраст для прохождения лазерной коррекции зрения по методу «Ласик» — 18–45 лет. В зависимости от показаний к операции пациентов можно разделить на две группы.
        p   К первой относятся люди, которые хотят иметь хорошее зрение и отказаться от ношения линз, очков. Также в эту группу входят лица с медицинскими показаниями к лечению. Например, невозможность подбора линз и очков, большая разница между рефракцией на правом и левом глазу.
        p   Во вторую группу включают пациентов, у которых показания к лазерной коррекции зрения обусловлены профессиональной деятельностью. Для таких людей применение очков или линз является неудобным или невозможным. Это военные, пожарные, спортсмены, водолазы, артисты. 
        h3  Методы лазерной коррекции
        h4  LASIK (ЛАСИК)
        p   На данный момент считается одним из самых безопасных и эффективных методов коррекции зрения не только в Украине, но и за рубежом. Позволяет качественно и безболезненно исправлять наиболее распространенные глазные недуги, среди которых: астигматизм (до ±6,0 D), дальнозоркость (до +6,0 D) и близорукость до (до -10,0 D).Преимущаством данного метода является быстрый эффект (на следующий день) 
        p   В нашем медицинском центре используется уникальное оборудование и одноразовые расходные материалы производства Англии и Швейцарии. Процедуру выполняют опытные специалисты, на счету которых тысячи качественно проведенных операций. Хирурги медицинского центра постоянно развиваются, посещая коференции, тренинги и мастер-классы в странах Европы.
        h4  LASEK (ЛАСЕК)
        p   LASЕK – является методом лазерной операции глаз, которая используется для коррекции близорукости, дальнозоркости и астигматизма. Это метод, который сочетает в себе преимущества метода LASIK и метода ФРК. Самое главное преимущество этого метода является его неинвазивный характер, то есть без повреждения ткани роговицы. Это идеальная процедура для людей, которые имеют очень тонкую или слишком плоскую роговицу. LASЕK является наиболее удобным методом для:
        ul
            li  низкой и средней степени 
                a(href="") близорукости;
            li  низкой и средней степени 
                a(href="") дальнозоркости;
            li  низкой и средней степени 
                a(href="") астигматизма;
            li  для людей, которым не подходит метод LASIK из-за сочетания тонкой роговицы и широкого зрачка.
        h4  Stream Light
        p   Stream Light - технология бесконтактной лазерной коррекции зрения. Методика отличается от остальных тем, что осуществляется одним этапом (“one step”). Хирургические инструменты и спиртовые растворы в этом случае не применяются. Местную анестезию проводят с помощью глазных капель, а фиксацию - векорасширителями.
        p   Процедура максимально автоматизирована и выполняется под четким контролем врача. Человеческий фактор исключается, благодаря чему достигаются высокие показатели зрения. Время на операцию сокращается вдвое, а рефракционный этап длится не более 20 секунд.
        p   Период восстановления непродолжительный. Stream Light рекомендована пациентам, страдающих близорукостью и близоруким астигматизмом. Также этот способ подойдет тем, кто опасается самой коррекции лазером.
        h3  Как проиходит процедура лазерной коррекции зрения?
        p Данная процедура выполняется под местной капельной анестезией, обеспечивающей надежное обезболивание. Длительность выполнения на одном глазу 12-15 минут, в зависимости от сложности каждого отдельного случая. Непосредственное воздействие лазера не более 75-90 секунд. На протяжении процедуры пациент не испытывает никакого дискомфорта, сохраняя контакт с доктором. Спустя 1-2 часа после выполнения процедуры к пациенту начинает возвращаться зрение в полном объеме. Окончательное восстановление наступает в течение 3-5 дней, после чего пациент может постепенно возвращаться к привычному ритму жизни.
        iframe(width="563px" height="auto" src="https://www.youtube.com/embed/565SqD4HOhw" title="YouTube video player" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
        h3  Лазерная коррекция зрения, плюсы
        ul.twocolpage--list
            li   Высокие показатели результата – часто пациент получает остроту зрения более 100 %! ;
            li   Проводится под местным капельным наркозом – никаких болевых ощущений;
            li   Отсутствие любых, даже незначительных швов или шрамов;
            li   Проведение операции в условиях амбулатории, после операции пациент может ехать домой;
            li   Как правило, по прошествии двух месяцев пациент избавляется от всех ограничений по физическим нагрузкам – можно заниматься любыми видами спорта, поднимать и переносить тяжести, посещать сауну, заниматься дайвингом и пр.
    .twocolpage__nav-hid-bc.twocolpage__nav-reviews
        .reviews__itm
            img.reviews__img(src="images/cavac.png" alt="cavc")
            .reviews__title
                h3 Інна Запорожець
                span 18.01.2021
            .reviews__text Спасибо за очень удобный график физ.кабинета и индивидуальный подход к каждому ребенку и взрослому. все на высшем уровне. мы получили очень хороший результат после лечения. спасибо руководству клиники за такой кабинет и за внимательное отношение к деткам и взрослым. всем рекомендую.
        .reviews__itm
            img.reviews__img(src="images/cavac.png" alt="cavc")
            .reviews__title
                h3 Светлана
                span 18.01.2021
            .reviews__text Мы были на первой консультации с моей внучкой 2-х лет. Будем лечить косоглазие. Понимаю, что благодарить надо по итогам. Но и за первый теплый, весёлый и красивый приём спасибо! Персонал супер. Врач замечательная. Диагностика легкая даже для нашей малышки. Медсестру, которая закапывала капельки, вспоминали с улыбками всю обратную дорогу, быстро и легко, без лишних разговоров, техника классная у человека - называется золотые руки. Спасибо. Мы наконец-то уверены, что всё будет хорошо:)
        .reviews__itm
            img.reviews__img(src="images/cavac.png" alt="cavc")
            .reviews__title
                h3 Анжела
                span 18.01.2021
            .reviews__text На прошлой неделе сделала лазерную коррекцию зрения! очень довольна результатом. Спасибо большое всем кто принимал участие в этом процессе. Мне понравилось в этом центре. Врачи профессионалы, центр красивый, все чисто. Очень довольна!!!!!!!!
    .twocolpage__nav-hid-bc.twocolpage__nav-price
        h2 Стоимость лазерной коррекции
        table
            tr
                td 
                td 1 глаз
                td 2 глаза
            tr
                td Лазерная коррекция зрения по методике OptiLASЕK до 6, Д (стандартная асферическая программа)
                td 7 500 грн
                td 15 000 грн
            tr
                td Лазерная коррекция зрения по методике OptiLASЕK больше 6,0 Д (стандартная асферическая программа)
                td 10 000 грн
                td 20 000 грн
            tr
                td Лазерная коррекция зрения по методике OptiLASЕK до 6, Д (стандартная асферическая программа)
                td 9 000 грн
                td 18 000 грн
            tr
                td Лазерная коррекция зрения по методике OptiLASIK (стандартная асферическая программа)
                td 10 000 грн
                td 20 000 грн
            tr
                td Персонализированная асферическая коррекция LASIK/LASЕK Custom-Q
                td 7 500 грн
                td 15 000 грн
            tr
                td
                    span  New
                    |  Лазерная коррекция по методике Stream Light
                td 10 000 грн
                td 20 000 грн
            tr
                td Докоррекция (ІІ этап) после коррекции зрения в нашем центре
                td Бесплатно
                td Бесплатно
    h3  Операцию проводит
    .twocolpage__avatar 
        div(style='background-image: url(images/porter2.png')
        .twocolpage__avatar-desc
            strong Саар Татьяна Анатольевна
            span Врач офтальмолог высшей категории, рефракционный хирург Член европейской и американской ассоциации катарактальных и рефракционных хирургов, работающих на эксимерном лазере Alcon/Wavelight.
    h3  Часто задаваемые вопросы о лазерной коррекции зрения
    .question-block
        label
            input(type="checkbox" checked)
            strong Насколько безопасна лазерная коррекция зрения? Может ли лазер «промахнуться»?
            p Лазерная коррекция методами LASIK и LASEK считается самой безопасной в мире. В нашем медицинском центре работают высококвалифицированные офтальмологи с огромным опытом и тысячами успешно проведенных процедур за спиной, поэтому, любая халатность или нестандартная ситуация просто исключены.
        label
            input(type="checkbox")
            strong Больно ли делать лазерную коррекцию?
            p Лазерная коррекция методами LASIK и LASEK считается самой безопасной в мире. В нашем медицинском центре работают высококвалифицированные офтальмологи с огромным опытом и тысячами успешно проведенных процедур за спиной, поэтому, любая халатность или нестандартная ситуация просто исключены.
        label
            input(type="checkbox")
            strong В каком возрасте лучше делать лазерную коррекцию зрения?
            p Лазерная коррекция методами LASIK и LASEK считается самой безопасной в мире. В нашем медицинском центре работают высококвалифицированные офтальмологи с огромным опытом и тысячами успешно проведенных процедур за спиной, поэтому, любая халатность или нестандартная ситуация просто исключены.
        label
            input(type="checkbox")
            strong Правда ли, что после проведения коррекции через какое-то время зрение все равно будет ухудшаться?
            p Лазерная коррекция методами LASIK и LASEK считается самой безопасной в мире. В нашем медицинском центре работают высококвалифицированные офтальмологи с огромным опытом и тысячами успешно проведенных процедур за спиной, поэтому, любая халатность или нестандартная ситуация просто исключены.
        label
            input(type="checkbox")
            strong Как часто нужно посещать врача после операции?
            p Лазерная коррекция методами LASIK и LASEK считается самой безопасной в мире. В нашем медицинском центре работают высококвалифицированные офтальмологи с огромным опытом и тысячами успешно проведенных процедур за спиной, поэтому, любая халатность или нестандартная ситуация просто исключены.
