section.twocolpage__wrapper.container
    h1 Лазерная коррекция зрения
    .twocolpage
        .twocolpage__bar
            input(type='checkbox' checked)#navTitle_1
            label(for='navTitle_1').twocolpage__title
                span Услуги
                .twocolpage__checkbox
            nav.twocolpage__nav
                a(href='#') Диагностика и консультация
                a(href='#') Детская офтальмология
                a(href='#').active Лазерная коррекция зрения
                a(href='#') Оперативное лечение катаракты
                a(href='#') Оперативное лечение глаукомы
                a(href='#') Витреоретинальная хирургия
                a(href='#') Хирургия век и коньюктивы
                a(href='#') Лазерные методы лечения сетчатки
                a(href='#') Консервативное лечение
                a(href='#') Контактные линзы и изготовление очков
                a(href='#') Кабинет лечебно-эстетической косметологии
                a(href='#') Массаж
                a(href='#') Спелеотерапия
            input(type='checkbox')#navTitle_2
            label(for='navTitle_2').twocolpage__title
                span Лечение
                .twocolpage__checkbox
            nav.twocolpage__nav
                a(href='#') Лечение и консультация
                a(href='#') Лечение + офтальмология
                a(href='#') Лечение зрения
                a(href='#') Оперативное лечение катаракты
                a(href='#') Оперативное лечение глаукомы
                a(href='#') Витреоретинальная хирургия
                a(href='#') Хирургия век и коньюктивы
                a(href='#') Лазерные методы лечения сетчатки
                a(href='#') Консервативное лечение
                a(href='#') Контактные линзы и изготовление очков
                a(href='#') Кабинет лечебно-эстетической косметологии
                a(href='#') Лечение Массаж
                a(href='#') Спелеотерапия
        include twocolpage__content