section.video-block.container
    .video-block__title
        h2 Медицинский центр «Ваш Зір»
        .fx-line-silver
    .video-block__content
        .video-block__text
            p Медицинский центр Ваш Зір оснащен новейшими технологиями, уникальной комбинацией лучшего в отрасли диагностического и хирургического оборудования и уникальными результатами лечения. Все наши врачи – высококвалифицированные специалисты. Медицинский центр современной офтальмологической помощи ВАШ ЗІР – постоянно обучает своих специалистов. В Медицинском центре ВАШ ЗІР работают доктора и кандидаты медицинских наук, специалисты высших категорий. Обратившись в наш центр, Вы всегда можете рассчитывать на качественную и квалифицированную помощь. Партнерами медицинского центра являются производители лучшего в мире лазерного оборудования для кераторефракционной хирургии, лучшие производители и поставщики лекарственных препаратов, опытные врачи. офтальмологи.
            a(href='#') Подробнее
        iframe(width="50%" height="auto" src="https://www.youtube.com/embed/565SqD4HOhw" title="YouTube video player" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)

            