<!DOCTYPE html>
html(lang="en")
    head
        include sections/head
    body
        include sections/header
        include sections/bread
        include sections/about
        include sections/forms
        include sections/footer
        script(src="js/script.js")