//- <!DOCTYPE html>
//- html(lang="en")
//-     head
//-         include sections/head
//-     body
//-         include sections/header
//-         div(style="width: 100%; border: 1px solid red").container
//-             .reviews-block
//-                 h2 Отзывы о компании
//-                 img.reviews-block__picture(src="images/leftPicture.png")
//-                 .reviews-block__buttons
//-                     img(src='images/loogo.png')
//-                     .reviews-block__btn-min 
//-                         strong 5.0
//-                         span Киев
//-                         a(href='/') Перейти
//-                     .reviews-block__btn-min 
//-                         strong 4.8
//-                         span Кривой Рог
//-                         a(href='/') Перейти
//-         include sections/footer
//-         script(src="js/script.js")