.about-block {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    @media (max-width: $bp_desk-s-m) {
        flex-wrap: wrap;
        margin-top: 16px;
    }

    &__item {
        width: 33%;
        display: flex;
        flex-direction: column;
        background-image: url('../images/bgitm.png');
        background-repeat: no-repeat;
        background-position: left center;
        background-size: contain;
        padding: 0 50px 30px 30px;
        @media (max-width: $bp_desk-s-m) {
            width: 100%;
            text-align: center;
            background-position: 39%;
            margin-bottom: 30px;
        }

        > h3 {
            font-size: 70px;
            color: $c_blue;
            margin: 20px 0 10px;
        }
    }
    &__desc {
        @media (max-width: $bp_desk-s-m) {
            max-width: 240px;
            margin: 0px auto;
            text-align: left;
        }
        > strong {

        }
        > span {

        }
    }       
}