.contact-block {
    margin-bottom: 20px;


    @media (max-width: $bp_desk-m-m) {
        padding-left: 10px;
        padding-right: 10px;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
        @media (max-width: $bp-tb-m) {
            flex-direction: column;
        }
    }
    iframe {
        margin-top: 25px;
    }
    h1 {
        width: 100%;
    }

    h1,h2 {
        font-size: 30px;
        font-weight: 500;
        margin: 0px 0px;
    }
    &__text{
        width: calc(100% - 620px);
        padding-right: 10px;
        padding-top: 10px;
        display: flex;
        flex-direction: column;

        @media (max-width: $bp_desk-s) {
            width: calc(100% - 400px);
        }
        @media (max-width: $bp-tb-m) {
            width: 100%;
        }

        > span {   
            display: inline-block;
            margin-top: 17px;
            margin-bottom: 6px;
            font-size: 15px;
            color: #999999;
            &.phone{
                margin-bottom: 14px;
            }
            &.social{
                + a, + a + a{
                    margin-top: 0px;
                }
            }
        }
        > p { 
            color: #212121;
            font-size: 15px;
            + p { 
                margin-top: 7px;
            }
            > a { 
                color: $c_indigo;
            }
        }
        > a { 
            color: $c_indigo;
            font-size: 15px;
            + a { 
                margin-top: 7px;
            }
        }
        > strong { 
            font-size: 17px;
            margin: 24px 0 0;
        }   
    }
    &__picture {
        width: 620px;

        @media (max-width: $bp_desk-s) {
            width: 400px;
        }
        @media (max-width: $bp-tb-m) {
            width: 100%;
            margin-top: 26px;
        }

        > img {
            display: block;
            width: 100%;
            max-width: 100%;
        }
        > p {
            font-size: 15px;
            font-weight: $normal;
            margin-top: 20px;
        }
    }
    a:hover {
        text-decoration: underline;
    }
}