.doctor {
    @media (max-width: $bp_desk-m-m){
        padding-left: 10px;
        padding-right: 10px;
    }
    > h1 {
        margin-top: 0;
        margin-bottom: 26px;
    }
    &__box {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        @media (max-width: $bp_d950) {
            grid-template-columns: 1fr 1fr 1fr;
        }
        @media (max-width: $bp_table-small) {
            grid-template-columns: 1fr;
        }
    }
    &__item {
        position: relative;
        height: 545px;
        overflow: hidden;
        display: flex;
        flex-direction: column;  
        @media (max-width: $bp_desk-s) {
            height: 472px;
        }
        @media (max-width: $bp_d950) {
            height: 515px;
        }
        @media (max-width: $bp-tb) {
            height: 470px;
        }
        @media (max-width: $bp_table-small) {
            height: auto;
        }
         
    }
    &__img {
        position: absolute;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        @media (max-width: $bp_table-small) {
            position: relative;
        }
        z-index: -1;
    }
    &__dsc {
        &-master {
            display: flex;
            flex-direction: column;
            > strong{
                // height: 2.2rem;
                font-size: 18px;
                font-weight: $bold;
                line-height: 1;
                margin-bottom: 14px;
            }
            > span{
                height: 2.2rem;
                font-size: 14px;
            }
        }
        &-hover {
            display: flex;
            flex-direction: column;
            max-height: 0;
            overflow: hidden;
            transition: max-height .7s ease;
            > span {
                // color: #151515;
                color: transparent;
                font-size: 14px;
                margin-bottom: 17px;
            }
            @media (max-width: $bp_table-small) {
                max-height: auto;
            }
        }
    }
    &__descript {
        // margin-top: auto;
        margin-top: calc(100% + 145px);
        transition: max-height .7s ease;
        padding: 10px;
        background: #fff;
        overflow: hidden;
        // height: 104px;
        z-index: 1;

        @media (max-width: $bp_desk-s) {
            margin-top: calc(100% + 124px);
        }
        @media (max-width: $bp_table-small) {
            margin-top:0;
        }
        
    }
    @media (min-width: $bp_table-small) {

        &__item:hover {
            transition: max-height .7s ease;

            box-shadow: 0 0 10px 5px #e0e0e0;
            .doctor__dsc-hover {
                max-height: 500px;
                transition: max-height .7s ease;
                > span {
                    color: #151515;
                }

            }
            .doctor__descript {
                margin-top: auto;
                transition: max-height .7s ease;

                // height: auto;
                // transition: all .5s ease;

            }
        }
    }
}