.footer {
    margin-top: 20px;
    padding-top: 20px;
    background-color: $c_silver_bg;
    > .container {
        display: grid;
        grid-template-columns: 5fr 4fr 3fr 3fr;
        @media (max-width: $bp_desk-m-m) {
            grid-template-columns: 3fr 4fr;
        }
        @media (max-width: $bp_desk-m) {
            padding-left: 10px;
            padding-right: 10px;
        }
        @media (max-width: $bp-tb-m) {
            grid-template-columns: 1fr;         
        }
    }
    &__contact {
        display: flex;
        flex-direction: column;
        @media (max-width: $bp_desk-m-m) {
            order: 2;
        }
        &--item {
            display: inline-block;
            position: relative;
            font-size: 16px;
            width: 100%;
            padding-left: 30px;
            margin-bottom: 10px;
            &:hover {
                color: $c_indigo;
            }
            > svg {
                position: absolute;
                width: 15px;
                height: 15px;
                left: 0;
                top: 5px;
                fill: #212121;
            }
        }
    }
    &__phone {
        
        &-box {
            display: flex;
            flex-wrap: wrap;
            position: relative;
            padding-left: 20px;
            margin-bottom: 20px;
        }
        &-item {
            width: 40%;
            font-size: 20px;
            font-weight: 500;
            &:hover {
                color: $c_indigo;
            }
        
            @media (max-width: $bp-tb-m) {
                width: 70%;
            }
        }
        &-soci {
            width: 40%;
            display: flex;
            @media (max-width: $bp-tb-m) {
                width: 30%;
                position: absolute;
                top: 0;
                right: 30px;
            }
            li {
                margin-right: 10px;
                &:nth-child(1) {
                    a {
                        display: inline-block;
                        svg {
                            width: 25px;
                            height: 25px;
                            fill: rgb(106, 98, 172);
                        }
                    }
                }
                &:nth-child(2) {
                    a {
                        display: inline-block;
                        svg {
                            fill: rgb(40, 151, 198);
                        }
                    }
                }
                &:nth-child(3) {
                    a {
                        display: inline-block;
                        svg {
                            fill: rgb(70, 200, 106);
                        }
                    }
                }
            }
            
            svg {
                width: 20px;
                height: 20px;
            }           
        }
        &-icon {
            position: absolute;
            left: 0;
            top: 7px;
            width: 10px;
            height: 10px;
        }
    }
    &__list {
        display: flex;
        flex-direction: column;
        @media (max-width: $bp_desk-m-m) {
            order: 0;
        }
        > h2 {
            margin-top: 0;
            margin-bottom: 17px;
            font-size: 18px;
            font-weight: 500;
        }
        > nav {
            display:flex;
            flex-direction: column;
            flex-wrap: wrap;
            height: 100%;
            // display: grid;
            // grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

            & > a {
                display: inline-block;
                font-size: 14px;
                height: 20%;
                padding-bottom: 4px;
                // margin-bottom: 10px;
            }

        }
    }
    &__menu {
        display: flex;
        flex-direction: column;
        @media (max-width: $bp_desk-m-m) {
            order: 1;
        }
        > a {
            display: inline-block;
            margin-bottom: 12px;
            font-size: 18px;
            font-weight: 500;
        }
    }
    &__right {
        display: flex;
        flex-direction: column;
        > span {
            font-size: 16px;
            font-weight: $normal;
        }
        @media (max-width: $bp-tb-m) {
            order: 4;
        }
    }
    &__social {
        display: flex;
        flex-wrap: wrap;
        > h4 {
            width: 100%;
            margin-top: 15px;
            margin-bottom: 10px;
            font-weight: $normal;
        }
        &-itm {
            display: inline-flex;
            border-radius: 50%;
            border: 1px solid currentColor;
            padding: 5px;
            align-items: center;
            justify-content: center;
            margin-right: 14px;
            color: $c_blue;
            > svg {
                width: 22px;
                height: 22px;
                fill: currentColor;
            }
            &:hover {
                color: $c_indigo;
                box-shadow: 0 0 5px 0 currentColor;
            }
        }
    }
    &__bottom {
        margin-top: 14px;
        padding-top: 14px;
        padding-bottom: 14px;
        border-top:1px solid $c_border;
    }
    a:hover {
        color: $c_indigo;
    }
}
