.reviews {
    padding: 24px 0 40px;
    background-color: #f5f8f9;
    @media (max-width: $bp_desk-m-m) {
        .container{
            padding-left: 16px;
            padding-right: 16px;    
        }
    }
    &__box {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 8px;
        @media (max-width: $bp-tb) {
            grid-template-columns: 1fr;
        }
    }
    &__title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 18px;
        align-items: center;
        > h2 {
            margin: 0;
            color: $c_blue;
            font-size: 35px;
        }
        > h3 {
            margin: 0;
            font-size: 16px;
            + span {
                font-size: 14px;
            }
        }
        > a {
            color: $c_blue;
            font-size: 14px;
            &:hover {
                color: $c_indigo;
            }
        }
    }
    &__itm {
        position: relative;
        background-color: #fff;
        padding: 20px 17px 20px 40px;
        @media (max-width: $bp-tb) {
            // width: calc(100% - 20px);
            width: calc(100%);
        }
    }
    &__img {
        position: absolute;
        left:7px;
        top: 21px;
    }
    &__text {
        font-size: 14px;
        line-height: 1.33;
    }
    .flickity-button {
        display: none;
    }
    .flickity-page-dots { 
        bottom: -23px;
        text-align: left;
        left: -8px;
        width: auto;
        
        
        > .is-selected {
            background-color: $c_indigo;
        }
        > .dot {
            margin-right: 0;
        }
    }
}

.reviews__box:after {
    content: 'flickity';
    display: none;
  }
  
  @media screen and ( min-width: $bp-tb ) {
    /* disable Flickity for large devices */
    .reviews__box:after {
      content: '';
    }
  }

  .flickity-viewport {
    transition: height 0.2s;
  }