.video-block {

    &__title {
        display: flex;
        align-items: center;

        > h2 {
            flex-grow: 0;
            font-size: 35px;
            color: $c_indigo;
        }
    }

    &__content {
        display: flex;
    }
    &__text {
        width: 50%;
        > p {
            font-size: 16px;
            line-height: 1.56;
            padding-right: 50px;
        }
        > a {
            display: inline-block;
            background-color: transparent;
            padding: 4px 17px;
            color: $c_blue;
            border: 1px solid $c_blue;
            border-radius: 14px;
            margin-top: 20px;
        }
    }

}