.container{
    max-width: 1240px;
    min-width: 320px;
    width: 100%;
    margin: auto;

}
.body-fixed{
    position: fixed;
    overflow: hidden;
    left: 0;
    top:0;
    max-width: 100vw;
    max-height: 100vh;
}

.fx-line-silver {
    height: 1px;
    background-color: #e6e6e6;
    flex-grow: 1;
    // width: inherit;
    margin: 0 10px;
}

.bread-crms {

    @extend .container;
    padding: 10px 6px;
    margin-top: 0;
    margin-bottom: 0;
    @media (max-width: $bp_mobile) {
        padding: 10px;
    }
    
    @media (max-width: $bp-tb) {
        & {
            display: flex;
            align-items: center;
            overflow: scroll;
            margin-top: 10px;
            //  overflow: hidden;
             &::-webkit-scrollbar { width: 0; }
             overflow: '-moz-scrollbars-none';
             -ms-overflow-style: none;
             scrollbar-color: transparent transparent;
        }
    }

    & > a, & > span {
        display: inline-block;
        position: relative;
        font-size: 14px;
        font-weight: $thin;
        padding-right: 20px;
        margin-right: 10px;
        color: $c_indigo;
        @media (max-width: $bp-tb) {
            min-width: max-content;   
        }
        &:after {
            content: '';
            display: inline-block;
            position: absolute;
            right: 3px;
            top: 50%;
            transform: translateY(-50%) rotate(45deg);
            width: .6em;
            height: .6em;
            border-top: 1px solid $c_silver_txt;            
            border-right: 1px solid $c_silver_txt;            
        }
        &:last-child{
            color: $c_silver_txt;
            &:after{
                content: none;
            }
        }
        &:hover { 
            // color: #111111;
            text-decoration: underline;
        }
        &:last-child{
            
            &:hover { 
                text-decoration: none;
            }
        }
    }
    > h1 {
        display: inline-block;
        position: relative;
        font-size: 14px;
        font-weight: $thin;
        margin: 0;
        padding-right: 30px;
        margin-right: 12px;
        color: $c_silver_txt;
        @media (max-width: $bp-tb) {
            min-width: max-content;   
        }
    }
}