$bp_desk-big: 1600px;
$bp_desk-m: 1280px;
$bp_desk-m-m: 1279px;
$bp_desk-s: 1024px;
$bp_desk-s-m: 1023px;
$bp_d950: 970px;
$bp_table: 800px;
$bp-tb-b: 769px;
$bp-tb: 768px;
$bp-tb-m: 768px;
$bp_table-small: 700px;
$bp_mobile: 600px;
$bp_big-mobila: 570px;
$bp_mobile-small-s: 479px;
$bp_mobile-small-b: 425px;
$bp_mobile-small: 400px;

$extraBold: 800;
$bold: 700;
$semiBold: 600;
$medium: 500;
$normal: 400;
$light: 300;
$thin: 100;

$c_border: #e5e5e5;
$c_blue: #007fc2;
$c_blue-h: #095985;
$c_silver_dot: #c0c0c0;
$c_silver_bg: #f7f9fa;
$c_silver_txt: #5f5f5f;
$c_indigo-lt: #bd095a;
$c_indigo: #a13792;
$c_indigo-dk: #4a0664;
$c_svg_silver: #909090;
$c_input_ph: #cbcdcd;
$c_bg_grad: #0a7cca;
$c_blue-title: #046cb2;
$c_blue-border: #5ba7da;